@model SistemaEscolar.Models.Alumno
@{
    ViewData["Title"] = "Detalles del Alumno";
}

<h2>Detalles del Alumno</h2>

<div>
    <h4>@Model.NombreAlumno</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Dirección</dt>
        <dd class="col-sm-10">@Model.Direccion</dd>

        <dt class="col-sm-2">Cédula</dt>
        <dd class="col-sm-10">@Model.Cedula</dd>

        <dt class="col-sm-2">Teléfono</dt>
        <dd class="col-sm-10">@Model.Telefono</dd>

        <dt class="col-sm-2">Correo</dt>
        <dd class="col-sm-10">@Model.Correo</dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.AlumnoId" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
</p>
